In [1]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from IPython.display import display
%matplotlib inline
import warnings
warnings.filterwarnings('ignore')
from sklearn.model_selection import train_test_split
import re

In [7]:
df_raw=pd.read_csv("C:\\Users\\HP\\Desktop\\SPECIAL\\Recommendation_system\\python1.csv")
data=df_raw.copy()
data.head(5)

,Dress_type,Brand,Actual_price,Disc_price,Image
0,Women's Regular Kurta with Pant,GoSriKi,3999.0,569.0,https://m.media-amazon.com/images/I/61sBAZZrYp...
1,Women's Ruby Cotton Printed Straight Kurta wit...,GoSriKi,3999.0,699.0,https://m.media-amazon.com/images/I/51TQ5JLU7J...
2,Women's Crepe Straight Kurta (Pack of 2),GoSriKi,3999.0,379.0,https://m.media-amazon.com/images/I/713qPWv8X+...
3,Vaibhav Industries Women's Handloom Cotton A-L...,Generic,1099.0,380.0,https://m.media-amazon.com/images/I/71-i0TRRiz...
4,Women's Anarkali Regular Rayon Kurta With Dupatta,GoSriKi,2599.0,569.0,https://m.media-amazon.com/images/I/61Ov56SdKV...

In [8]:
df_raw=pd.read_csv("Bsimar.csv")
df=df_raw.copy()
df.head(5)

,0,1,2,3,4,5,6,7,8,9,...,3925,3926,3927,3928,3929,3930,3931,3932,3933,3934
0,-0.345150,0.089294,-0.484280,-0.095564,-0.590130,0.160492,-0.064166,0.336581,-0.463738,0.351451,...,0.0,0.000000,0.629712,0,0.000000,0,0.0,0.0,0.000000,0
1,-0.072311,0.155081,-0.313686,-0.214087,0.007656,0.083518,0.021261,0.141210,-0.175765,0.151248,...,0.0,0.008306,0.317231,0,0.005194,0,0.0,0.0,0.000000,0
2,-0.458803,0.178427,-0.015155,-0.107601,-0.199148,0.389883,0.341267,0.059381,-0.454020,0.076715,...,0.0,0.002669,0.492029,0,0.000000,0,0.0,0.0,0.000000,0
3,-0.075252,0.241233,-0.474810,0.038282,-0.255137,-0.484895,-0.110241,0.132180,-0.095241,-0.113618,...,0.0,0.000000,0.403982,0,0.000000,0,0.0,0.0,0.001224,0
4,-0.130812,-0.013607,-0.338012,0.091656,-0.274327,0.325280,-0.051173,0.334117,-0.092260,0.359114,...,0.0,0.000000,0.628813,0,0.000000,0,0.0,0.0,0.000000,0

In [9]:
from sklearn.metrics.pairwise import cosine_similarity
simalarity=cosine_similarity(df)

In [10]:
simr=pd.DataFrame(simalarity)

In [13]:
simr

,0,1,2,3,4,5,6,7,8,9,...,13415,13416,13417,13418,13419,13420,13421,13422,13423,13424
0,1.000000,0.999497,0.998902,0.981533,0.997239,0.998903,0.987100,0.986833,1.000000,0.999208,...,0.934130,0.912240,0.990313,0.923600,0.945847,0.921382,0.935138,0.986132,0.993955,0.993960
1,0.999497,1.000000,0.996916,0.987080,0.999088,0.996916,0.991671,0.991463,0.999497,0.999967,...,0.944970,0.924748,0.994216,0.935257,0.955660,0.933229,0.945894,0.990897,0.996865,0.996937
2,0.998902,0.996916,1.000000,0.971545,0.992674,1.000000,0.978534,0.978178,0.998902,0.996251,...,0.916403,0.892094,0.982727,0.904698,0.929614,0.902195,0.917535,0.977283,0.987837,0.987739
3,0.981533,0.987080,0.971545,1.000000,0.993015,0.971545,0.999466,0.999456,0.981536,0.988344,...,0.985018,0.973688,0.998519,0.979853,0.990304,0.978607,0.985499,0.999583,0.996464,0.996567
4,0.997239,0.999088,0.992674,0.993015,1.000000,0.992674,0.996263,0.996110,0.997239,0.999401,...,0.958048,0.940141,0.997884,0.949509,0.967326,0.947696,0.958856,0.995725,0.999273,0.999363
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13420,0.921382,0.933229,0.902195,0.978607,0.947696,0.902196,0.971713,0.972089,0.921386,0.936103,...,0.999400,0.999715,0.966409,0.999891,0.997614,1.000000,0.999299,0.973082,0.957936,0.958461
13421,0.935138,0.945894,0.917535,0.985499,0.958856,0.917536,0.979777,0.980121,0.935141,0.948486,...,0.999993,0.998150,0.975270,0.999369,0.999494,0.999299,1.000000,0.980957,0.967806,0.968359
13422,0.986132,0.990897,0.977283,0.999583,0.995725,0.977283,0.999961,0.999987,0.986133,0.991952,...,0.980402,0.967522,0.999621,0.974313,0.986597,0.973082,0.980957,1.000000,0.998087,0.998382
13423,0.993955,0.996865,0.987837,0.996464,0.999273,0.987838,0.998516,0.998317,0.993959,0.997461,...,0.967094,0.951215,0.999325,0.959755,0.975175,0.957936,0.967806,0.998087,1.000000,0.999844
13424,0.993960,0.996937,0.987739,0.996567,0.999363,0.987739,0.998702,0.998613,0.993961,0.997537,...,0.967647,0.951671,0.999564,0.960063,0.975741,0.958461,0.968359,0.998382,0.999844,1.000000

In [14]:
simlari=[]
for i in range(simr.shape[0]):
    simlari.append(list(simr[i].sort_values(ascending=False)[:11].index))

In [16]:
simlari=pd.DataFrame(simlari)

In [24]:
simlari.to_csv("final.csv",index=False)

In [18]:
csr=[]
for i in simlari.iloc[1]:
    csr.append(data.iloc[i])

In [22]:
csr=pd.DataFrame(csr[1:])

In [23]:
csr

,Dress_type,Brand,Actual_price,Disc_price,Image
252,Women's Cotton Anarkali Kurta And Yellow Print...,GoSriKi,3999.0,699.0,https://m.media-amazon.com/images/I/61dhnKf9JB...
296,Women's Regular Kurta with Palazzo,GoSriKi,3999.0,699.0,https://m.media-amazon.com/images/I/61HcJ3e17P...
4515,womens Kurta with Palazzos & Dupatta,GoSriKi,3999.0,699.0,https://m.media-amazon.com/images/I/6173OpT00U...
8218,Women's Kurta With Palazzo,GoSriKi,3999.0,699.0,https://m.media-amazon.com/images/I/61ZPCj-OwK...
767,"Women's Cotton Blend Straight Solid Kurta, Pal...",ANNI DESIGNER,3999.0,699.0,https://m.media-amazon.com/images/I/61RzNTVtl0...
1506,Women's Kurta With Palazzo,GoSriKi,3999.0,699.0,https://m.media-amazon.com/images/I/61WFWFdVFU...
5562,"Women's Rayon Solid Straight Kurta,Palazzos an...",ANNI DESIGNER,3999.0,699.0,https://m.media-amazon.com/images/I/71BiVt0OXi...
7249,Women Printed Kurta with Palazzo,Aaina,3999.0,699.0,https://m.media-amazon.com/images/I/61CQEsphPd...
11315,Women Cotton Navy Blue Printed Kurta with Palazzo,MEERA FAB,3999.0,699.0,https://m.media-amazon.com/images/I/71CQ5pFQja...
9926,Women's Cotton Printed Kurta with Palazzos & D...,ANNI DESIGNER,3999.0,699.0,https://m.media-amazon.com/images/I/81ka3xTNtd...